<div id="item-template" 
	class="col-md-4 col-sm-6 portfolio-item hidden"
>
	<a href="#portfolioModal1" 
		class="portfolio-link" 
		data-toggle="modal"
	>
		<div class="portfolio-hover">
			<div class="portfolio-hover-content">
				<i class="fa fa-plus fa-3x"></i>
			</div>
		</div>
		<div class="bike-photo-container">
			<img id="bike-photo-main" 
				src="img/photo-not-available.jpg" 
				class="img-responsive" 
				alt="..."
			>
		</div>
	</a>
	<div class="portfolio-caption">
		<h4 class="bike-name loading"></h4>
		<p class="bike-size loading"></p>
		<p class="bike-price loading"></p>
	</div>
</div>