/*-------------------- HTML tags -------------------*/
body {
	// background: url("../media/images/bg_subtle_dots.png") !important;
	// font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Hind', sans-serif;
	background-color: #efefef !important;	// $almost-white;
	font-size: 12px;
	color: #333;
	overflow-y: scroll;
	overflow-x: hidden;
}
/* font options */
// font-family: 'Oswald', sans-serif;
// font-family: 'Libre Franklin', sans-serif;
// font-family: 'Hind', sans-serif; 
.container-full {
	padding-right: 4px;
    padding-left: 4px;
	margin-right: auto;
    margin-left: auto;
}

.fixed-top {
 	position: fixed;
 	top: 0;
 	width: 100%;
    border-width: 0 0 1px;
}
.w100p {
	width: 100%;
}

.bike-photo {
	width: 100%;
	padding: 1px;
	margin: 2px 4px;
}

img.bike-photo {
	border: 1px solid #333;
}
.bike-header-cell {
	left: 0px;
	padding: 4px;
}

.list-inline {
	font-family: 'Oswald', sans-serif !important;

	font-size: 16px !important;
}
.select-dropdown {
	color: #53a3f1;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	font-size: 150%;
	border: 1px solid gray;
}
.left {
	text-align: left !important;
}
.h50 {
	height: 50px;
}
.w20p {
	width: 20%;
}
.w15p {
	width: 15%;
}
.w10p {
	width: 10%;
}
.w5p {
	width: 10%;
}
.nowrap {
	white-space: nowrap;
}

.bg-header {
	background-color: #fff !important;
}
.gray {
	color: #999 !important;
}
.bg-gray {
	background-color: #999 !important;
}
.bg-dark {
	background-color: #444 !important;
}
.not-available {
	font-family: 'Libre Franklin', sans-serif;
	font-style: italic;
	padding-left: 20%;
	text-align: center;
	color: #999;
	font-size: 12px;
}
.text-bike-maker {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16px;
	font-weight: 800;
	color: #000;
	letter-spacing: 0.5px;
	padding: 4px 0px 0px 0px;
	display: block;
}
.text-xlg {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 28px;
	font-weight: 800;
	color: #fff;
	letter-spacing: 0px;
	padding: 12px 0px 0px 0px;
	display: block;
	text-shadow: 1px 2px 2px rgba(30, 30, 30, 0.6);
}
.text-lg {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	letter-spacing: -1px;
	padding: 12px 0px 0px 2px;
	display: block;
	text-shadow: 1px 1px 2px rgba(20, 20, 20, 0.9);
}
.text-md {
	font-size: 14px;
	font-weight: 300;
	color: #666;
	padding: 0px 0px 0px 2px;
	display: block;
}
.text-sm {
	font-size: 12px;
	font-weight: 300;
	color: #666;
	padding: 0px 0px 0px 2px;
	display: block;
}

.pad-left-4 {
	padding-left: 4px;
}
.pad-bot-10 {
	padding-bottom: 10px;
}
.pad-top-20 {
	padding-top: 20px;
}
.pad-top-30 {
	padding-top: 30px;
}
.pad-top-40 {
	padding-top: 40px;
}
.pad-top-50 {
	padding-top: 50px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-top-30 {
	margin-top: 30px;
}

#bg-plate {
    background-size: cover !important;
    background-color: #000 !important;
}
#content-parent {
	max-width: 100%;
	margin: 0px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}


/** 
 *    Loading spinner  
 */
.loading {
	font-size: 8px;
	margin: 10px auto;
	text-indent: -9999em;
	width: 2em;
	height: 2em;
	border-radius: 58%;
	background: #ffffff;
	background: linear-gradient(to right, #4CA9DB 10%, rgba(255, 252, 210, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.2s infinite linear;
	animation: load3 1.2s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loading:before {
	width: 0%;
	height: 0%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loading:after {
	background: #fff;
	width: 80%;
	height: 90%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
}
/* END LOADING SPINNER */

.blur {
	filter: blur(0.9px) !important;
}

.link, .link a {
	font-weight: bold;
	letter-spacing: 0.75px;
	line-height: 1.25;
	// Use the following three together or onlky first like will be indented
	padding: 2px 6px;
	white-space: pre-wrap;
	display: block; 

	background: none;
	text-transform: uppercase;
	@include border-radius(3px);
	// background-color: $gray-light !important;
	border: 1px solid transparent;
}

.link:hover {
	border: 1px solid #888;
	cursor: pointer;
}

.border {
	border: 1px solid pink;
}


.toggle-button {
	width: auto;
	padding: 6px 12px;
	vertical-align: middle;
	outline: none;
	@include border-radius(2px);
	// background-color: $gray-dark;
	// color: $almost-white;
	// opacity: 0.88;
	margin: 3px;
	border: 1px solid transparent;
}
.toggle-button:hover {
	// color: $gray-light;
	outline: none;
	opacity: 1;
	transition: all .2s ease-in-out;
}
.toggle-button:active {
	// color: $gray-dark;
	// Make the icon shrink slighlty
	border: 1px solid transparent;
	outline: none;
	opacity: 1;
	transition: all .2s ease-in-out;
}
.toggle-button-active {
	background-color: purple;
}


img.link:hover {
	background-color: #B4CEE7 !important;
	cursor: pointer;
}

.photo-caption {
	// @include buildRegularFont($font-md);
	color: #fff;
	position: absolute;
	bottom: 30px;
	// background: rgba(0, 0, 0, 0.8);
	background: rgba(86, 56, 92, 0.94);
	padding: 6px 10px 6px 10px;
	left: 12px;
}

.scroll-y {
	overflow-y: scroll;
}

/*------------------- Event info  -----------*/
/* override jquery ui */
.ui-widget-content{
	overflow: scroll;
}
.block-notice {
	@include border-radius(4px);
	padding: 12px;
	background-color: red;
}
.text-input {
	// @include buildRegularFont($font-xsm);
	padding: 1px 4px;
	// @include border-radius(2px);
	background-color: #dcdcdc;
	border: 0px;
	text-align: center;
}

select {
	padding: 6px;
	min-width: 20px;
	margin: 0 6px 0 6px;
	border-radius: 2px;
	box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
	background: #eee;
	border: 1px solid #eee;
	outline: none;
	display: inline-block;
	color: #999;
	font-size: 14px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

/*  override bootstrap */
.modal-header {
	color: #fff;
	background-color: indigo;
}
.modal-footer {
	text-align: center !important;
}
.modal-dialog {
	width: 100% !important;
	margin: 0px !important;
}
.modal-content {
	width: 100% !important;
	min-height: 500px !important;
	border-radius: 0px !important;
}
.modal-body {
	min-height: 400px !important;
}
#artistModal {
	padding: 0px !important;
}

button.close {
	font-size: 3em;
	padding: 6px;
	margin: -3px 3px;
	opacity: 1;
	color: #fff;
}
button.close:hover {
	opacity: 0.75 !important;
	color: #fff !important;
}

.bike-photo-container {
	max-height: 200px;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.bike-photo {
		margin: 2px 4px 2px 0px;
	}
	.bike-header-cell {
		max-width: 80px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.bike-photo {
		margin: 2px 4px 2px 0px;
	}
	.bike-header-cell {
		max-width: 160px;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1199px) {
	.bike-photo {
		margin: 4px 8px 2px 0px;
	}
	.bike-header-cell {
		max-width: 200px;
	}
}
@media screen and (min-width: 1200px) {
	.bike-photo {
		margin: 8px 16px 2px 0px;
	}
	.bike-header-cell {
		max-width: 240px;
	}
}

.paginate_button {
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	padding: 10px 20px;
	margin: 1px;
	font-size: 20px;
    display: inline;
	text-transform: uppercase !important;
    background-color: transparent;
}
.paginate_button:not(.disabled) {
	color: #53a3f1;
	cursor: pointer;
    background-color: #444;  
}

.paginate_button:not(.disabled):hover {
	background-color: #666;
}
.paginate_button.disabled {
	color: #333;	
	text-decoration: none;
}
.paginate_button.disabled:hover {
	text-decoration: none;
}

/* custom checkboxes */
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .checkbox input[type="checkbox"]:focus + label::before,
    .checkbox input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after,
    .checkbox input[type="radio"]:checked + label::after {
      font-family: "FontAwesome";
      content: "\f00c"; }
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
    .checkbox input[type="checkbox"]:disabled + label,
    .checkbox input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before,
      .checkbox input[type="radio"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; 
 }